
body{
    font-family: 'poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-fontt-smoothing:antialised;
}

header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0% 100% );



}

.container{
    max-width: 1152px;
    padding:0 15px;
    margin:0 auto;
}

h1{
	display: flex;
	align-items: center;
	justify-content:center;
	margin-top: 30px;
	margin-bottom: 10px;
	text-decoration: none;
    text-transform: uppercase;
    transition:all .3s ease;
	position: center;

  

}

h1:hover{
	color: #898989;
}

h2{
	color: #161616;
	font-size: 25px;
}